<ng-container *ngIf="books.length === 0">
  <mat-spinner class="spinner"></mat-spinner>
</ng-container>

<div *ngIf="books.length > 0">
  <h2 class="green">Top {{books.length}} Favorite Books</h2>
  <div class="grid-container">
    <ng-container *ngFor="let book of books">
      <mat-card style="width: 30%; display: inline-block; padding: 10px; margin-bottom: 25px; margin-left: 25px; border: 1px solid black;box-shadow: 5px 5px 5px #130f0f;">
        <mat-card-title>
          <a class="grid-container__ahref blue" (click)="showBookDetails(book.isbn)" style="cursor: pointer; text-decoration: underline;">{{book.title}}</a>
        </mat-card-title> <br />
        <mat-card-content>
          <mat-list>
            <mat-list-item>ISBN: {{ book.isbn }}</mat-list-item>
            <mat-list-item>Pages: {{ book.numOfPages }}</mat-list-item>
            <mat-list-item>Authors: {{ book.authors.join(',')}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
